<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BEBA-DGráfico</title>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="../assets/img/favicon-16x16.png"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/estilo.css" />
	</head>
	<body class="body">
		<header>
			<nav>
				<ul class="main_nav_list">
					<li class="main_nav_list_item"><a href="../index.html">INICIO</a></li>
					<li class="main_nav_list_item"><a href="../views/direccion.html">DIRECCIÓN</a></li>
					<li class="main_nav_list_item"><a href="../views/fotografia.html">FOTOGRAFÍA</a></li>
					<li class="main_nav_list_item"><a href="../views/dgrafico.html">DISEÑO GRÁFICO</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h1 class="encabezado">Diseño Gráfico</h1>
				<div class="grid_diseño">
					<div class="grid_diseño_item grafica1">
						<h2>Artes de Tapa</h2>
						
						<img src="../assets/img/diseño_pupa1.jpg" alt="diseño pupa " />
					</div>
					
					<div class="grid_diseño_item grafica2">
							<h2>Sistema de Flyers</h2>						
						<img src="../assets/img/diseño_frutas1.jpg" alt="diseño frutas" />
						</div>

						<div class="grid_diseño_item grafica3">
							<h2>Propuestas de Logo/Etiquetas</h2>
						<img src="../assets/img/diseño_logos1.jpg" alt="diseño logos">
						</div>
						</div>
				</section>
		</main>
		<footer class="footer">
			<nav>
				<div>
					<ul class="footer_content_list">
						<a href="#top">
							<img class="footer_content_item rrss"src="https://icongr.am/clarity/collapse.svg?size=30&color=e00000" 
							alt="top web" class="top_web" />
							</a>
						<li class="footer_content_item"><a href="contacto.html">CONTACTO</li>
							<li class="footer_content_item rrss"> 
								<a href="https://www.instagram.com/beburrri/" target="_blank">
									<img src="https://icongr.am/entypo/instagram.svg?size=25&color=e00000" alt="instagram_logo">
									
								</a>
							</li>
							<li class="footer_content_item rrss">
								<a href="https://www.facebook.com/belurizzaro" target="_blank">
									<img src="https://icongr.am/entypo/facebook.svg?size=25&color=e00000
									
									" alt="facebook_logo">
								</a>
							</li>
					</ul>
				</div>
			</nav>
		</footer>
	</body>
</html>
